html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

/*Loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: loader 3s forwards;
}


@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader__circle {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear forwards;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes courses_cards_appearance {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes stroke_off {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  90% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}


  /*Footer*/
  footer {
    background-color: #353535;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0px;
    max-width: 100%;
    min-width: 320px;
  }
  footer h3 {
    margin: 0 0 10px 20px;
    color: #e6e6e6;
    font-weight: normal;
  }
  footer a {
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
    color: #FFF;
  }
  footer .footer__logo {
    font-family: "Shrikhand", cursive;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 15px;
  }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0 0.5rem 0;
  cursor: default;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 500;
}

.header_with_arrow {
  position: relative;
  flex-direction: row;
  justify-content: center;
}
.header_with_arrow .fas {
  position: absolute;
  top: 1.875rem;
  left: 1.438rem;
  color: black;
  font-size: 1.4rem;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", arial, sans-serif;
  min-width: 18.75rem;
}

.location {
  display: flex;
  align-items: center;
  background-color: #ececec;
  height: 3.125rem;
  box-shadow: inset 0.313rem 0.938rem 0.313rem -0.813rem #c9c5c5;
}
.location__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 10.313rem;
  margin: auto;
}
.location__icon {
  font-size: 1rem;
  padding: 0 0.8rem 0 0.3rem;
  cursor: pointer;
  color: #3f3f3f;
}
.location__name {
  font-size: 15px;
  color: grey;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.563rem;
}
.presentation__heading {
  cursor: default;
  width: 65%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 2.5rem;
}
.presentation__txt {
  cursor: default;
  width: 83%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  color: #3f3f3f;
  margin: 1rem 0 2.188rem 0;
}
.presentation__btn {
  width: 58.13%;
  position: relative;
  max-width: 20rem;
  z-index: 1;
  height: 3.125rem;
  border: none;
  border-radius: 3.125rem;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  box-shadow: 0px 5px 10px 0px #c7c7c7;
  color: #FFFFFF;
  font-size: 1rem;
  cursor: pointer;
}
.presentation__btn:hover::after {
  opacity: 1;
}
.presentation__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 3.125rem;
  background: linear-gradient(-5deg, #a16be0, #ff93e1);
  box-shadow: 0px 5px 10px 5px #c7c7c7;
  transition: all 0.5s;
}

.process {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.25rem;
}
.process__heading {
  cursor: default;
  font-weight: 900;
  width: 90%;
  margin: 3.125rem 0 2.188rem 0;
}
.process__cards_container {
  width: 90%;
  height: 16.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .process__cards_container {
    flex-direction: row;
    height: 4.375rem;
  }
}
.process__card {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
  width: 96%;
  height: 4.375rem;
  background-color: #f3f3f3;
  box-shadow: 0px 5px 10px 0px #c7c7c7;
  cursor: pointer;
  transition: all 0.5s;
}
@media screen and (min-width: 1024px) {
  .process__card {
    max-width: 30%;
  }
}
.process__card:hover {
  box-shadow: 0px 8px 20px 2px #c7c7c7;
  background-color: #f2eafb;
}
.process__number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -0.781rem;
  width: 1.563rem;
  height: 1.563rem;
  background-color: #9356DC;
  border-radius: 50%;
  color: #FFFFFF;
}
.process__icon {
  color: #797979;
  padding-left: 2rem;
  font-size: 1.2rem;
}
.process__txt {
  color: black;
  padding-left: 1.5rem;
  font-weight: 700;
  font-size: 1rem;
}
.process .process__txt--1 {
  padding-left: 1.9rem;
}
.process .process__txt--3 {
  padding-left: 1.2rem;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.restaurant__heading {
  cursor: default;
  font-weight: 900;
  width: 90%;
  max-width: 100rem;
  margin: 3.125rem 0 1.5rem 0;
}
.restaurant__cards_main_container {
  width: 90%;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .restaurant__cards_main_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurant__cards_container {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .restaurant__cards_container {
    display: flex;
    justify-content: space-between;
    width: 49%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurant__card {
  display: block;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  margin-bottom: 1.125rem;
  box-shadow: 0px 5px 10px 0px #c7c7c7;
  transition: all 0.5s;
}
@media screen and (min-width: 1024px) {
  .restaurant__card {
    width: 100%;
    min-width: 25rem;
  }
}
.restaurant__card:hover {
  box-shadow: 0px 8px 20px 2px #c7c7c7;
}
.restaurant__img_box {
  position: relative;
  height: 10.875rem;
}
.restaurant__new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.688rem;
  right: 0.688rem;
  width: 5rem;
  height: 1.875rem;
  background-color: #99E2D0;
  border-radius: 0.125rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #007558;
}
.restaurant__img {
  height: 10.875rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px -3.438rem;
  border-radius: 0.938rem 0.938rem 0 0;
}
.restaurant .img2 {
  object-position: 0 -9.375rem;
}
.restaurant__info {
  display: flex;
  justify-content: space-between;
  height: 4.813rem;
}
.restaurant__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  margin-left: 0.875rem;
}
.restaurant__place {
  font-weight: 400;
  margin-top: 0.188rem;
}
.restaurant__heart {
  position: relative;
  display: flex;
  cursor: pointer;
  margin: 22px 25px 0 0;
}
.restaurant__heart:hover .full {
  transform: scale(1.05);
  opacity: 1;
}
.restaurant__heart:hover .empty {
  animation: stroke_off 1s forwards;
}
.restaurant .full {
  opacity: 0;
  transform-origin: 50% 10%;
  transform: scale(0);
  transition: all 1s ease-in-out;
}
.restaurant__heart_empty {
  position: absolute;
  top: -1px;
  left: -1px;
}

.cover {
  position: relative;
  width: 100%;
  height: 16.875rem;
  object-fit: cover;
}

.menu {
  position: relative;
  z-index: 100;
  background-color: #f3f3f3;
  border-radius: 2.5rem 2.5rem 0 0;
  bottom: 58px;
  padding-top: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 90%;
    margin: auto;
  }
}
.menu__header {
  display: flex;
  align-items: baseline;
  width: 90%;
}
.menu__heading {
  cursor: default;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1.8rem;
  margin-left: 1.125rem;
  margin-right: 2.063rem;
}
.menu__heart {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 23px;
  padding: 0;
}
.menu__heart:hover .full {
  transform: scale(1.05);
  opacity: 1;
}
.menu__heart:hover .empty {
  animation: stroke_off 1s forwards;
}
.menu .full {
  opacity: 0;
  transform-origin: 50% 10%;
  transform: scale(0);
  transition: all 1s ease-in-out;
}
.menu__heart_empty {
  position: absolute;
  top: -1px;
  left: -1px;
}

.courses {
  padding-top: 2.188rem;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  .courses {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3rem;
  }
}
.courses__heading {
  cursor: default;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1.188rem;
}
.courses__heading_underline {
  width: 2.5rem;
  height: 0.188rem;
  background-color: #99E2D0;
  margin: 0.313rem 0 0 1.125rem;
}
@media screen and (min-width: 1024px) {
  .courses__container {
    width: 33%;
  }
}
.courses__cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.938rem;
  margin-bottom: 2.813rem;
}
.courses__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 0.938rem;
  height: 4.25rem;
  width: 93.3%;
  margin-bottom: 0.875rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
  animation: courses_cards_appearance 1s ease-in-out both;
  box-shadow: 0px 5px 10px 0px #c7c7c7;
}
.courses__card:hover {
  box-shadow: 0px 8px 20px 2px #c7c7c7;
}
.courses__card:hover .info {
  width: 57%;
}
.courses__card:hover .price {
  transform: translateX(-3.75rem);
}
.courses__card:hover .validation {
  transform: translateX(0);
}
.courses__card:hover .fas {
  transform: rotate(360deg);
}
.courses .card1 {
  animation-delay: 0.1s;
}
.courses .card2 {
  animation-delay: 0.25s;
}
.courses .card3 {
  animation-delay: 0.5s;
}
.courses .card4 {
  animation-delay: 0.65s;
}
.courses__info {
  width: 76%;
  padding-top: 0.75rem;
  margin-left: 0.75rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.courses__name {
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.courses__description {
  width: 100%;
  padding-top: 0.25rem;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.courses__price {
  font-weight: 700;
  margin: 2.25rem 1.438rem 0px 1rem;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.courses__validation {
  position: absolute;
  right: 0px;
  width: 3.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 0.938rem 0.938rem 0;
  transform: translateX(3.75rem);
  transition: all 0.5s ease-in-out;
}
.courses .fas {
  background-color: transparent;
  color: #FFFFFF;
  font-size: 1.3rem;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.order__btn {
  width: 50%;
  position: relative;
  max-width: 20rem;
  z-index: 1;
  height: 3.125rem;
  border: none;
  border-radius: 3.125rem;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  box-shadow: 0px 5px 10px 0px #c7c7c7;
  color: #FFFFFF;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: auto;
}
.order__btn:hover::after {
  opacity: 1;
}
.order__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 3.125rem;
  background: linear-gradient(-5deg, #a16be0, #ff93e1);
  box-shadow: 0px 5px 10px 5px #c7c7c7;
  transition: all 0.5s;
}

/*# sourceMappingURL=style.css.map */